.h1{
    color: yellow;
}

h1, .span{
    text-decoration: underline;
}

p span{
    color: blue;
}

p span span{
    color: yellow;
}

p{
    font-style: italic;
}
p + p{
    text-decoration: line-through;
}