*{
    font-size: 20px;
}

h1 {
    color: grey;
}

.h1{
    color: green;
}

#h1{
    color: aquamarine;
}

.h2{
  color: black;
}

.title{
    font-size: 60px;
}

.bold{
    font-weight: 700;
}

.black{
    color: black;
}

.italic{
    font-style: italic;
}

[q]{
    color: darkgoldenrod;
}

[q='1']{
    color: red;
}

[q~='2']{
    color: chartreuse;
}

html body h1.h1{
font-style: revert;
}

h2, body h2, html body h2{
    font-style: italic;
}

h3, body h3, html body h3{
    color: chartreuse;
}
